.home-main {
  display: grid;
  grid-template-rows: 490px 565px 1240px 485px 170px 505px 330px 516px 500px 740px 1600px;

  &__welcome-section {
    background-image: url("../../assets/images/main-kids.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;

    &::before {
      content: "";
      display: block;
      background-color: $primary-300;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      position: absolute;
    }
  }

  &__welcome-title,
  &__welcome-text {
    position: static;
    z-index: 1;
  }

  &__welcome-title {
    align-self: end;
  }

  &__welcome-text {
    align-self: start;
  }

  &__about {
    background-color: $secondary-800;
    border-top: 10px solid $secondary-600;
    color: #ffffff;

    .page-content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 110px;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding-top: 70px;
    }
  }

  &__about-video {
    border-radius: $primary-radius;
    border: 4px solid $primary-300;
    width: 100%;
    height: 100%;
  }

  &__programs {
    .page-content-wrapper {
      margin: 95px auto 0 auto;
    }

    &-info {
      width: 830px;
      margin: 0 auto 65px auto;
    }

    &-info-title {
      color: $primary-300;
      margin: 0 auto 32px auto;
    }

    &-preview {
      display: grid;
      grid-template-columns: 1fr 13px 1fr;
      grid-column-gap: 25px;
    }
  }

  &__graphic-design {
    .page-content-wrapper {
      display: grid;
      grid-template-columns: 1fr 540px;
      height: 100%;
      align-items: center;
    }

    &__description-title {
      display: grid;
      grid-template-columns: 32px 1fr;
      grid-column-gap: 25px;
      align-items: center;
      color: $purple-400;
    }
  }

  &__trainings {
    color: #ffffff;
    background-color: $primary-300;

    .page-content-wrapper {
      display: grid;
      grid-template-columns: 635px 1fr;
      grid-column-gap: 125px;
      align-items: center;
      height: 100%;
    }

    &__description-title {
      margin: 0 auto 15px auto;
    }

    &__description-text {
      margin: 0;
    }

    &__button {
      width: fit-content;
    }
  }

  &__awards {
    margin: 110px auto;
    .page-content-wrapper {
      display: grid;
      grid-template-rows: auto auto;
      grid-row-gap: 50px;
      height: 100%;
      align-items: baseline;
    }

    &__title {
      margin: 0 auto;
    }

    &__title,
    &__award-title {
      color: $primary-300;
    }

    &--wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 32px;
    }

    &__award__border {
      height: 3px;
      width: 96px;
      background-color: $primary-300;
      margin: 24px auto;
    }
  }

  &__gallery {
    .page-content-wrapper {
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-row-gap: 35px;
    }

    &__title {
      color: $primary-300;
      margin: 0 auto;
    }

    &__preview {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 30px;
    }

    &-image {
      border-radius: $primary-radius;
    }

    &__button {
      width: fit-content;
      align-items: end;
      justify-self: end;
    }
  }

  &__blog {
    background-color: $blue-300;

    border-top: 12px solid $blue-200;

    display: grid;
    align-items: center;

    .page-content-wrapper {
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-row-gap: 48px;
    }

    &__title {
      color: #ffffff;
      margin: 0 auto;
    }

    &__cards {
      display: grid;
      grid-template-columns: 300px 300px 300px 300px;
      grid-column-gap: 32px;
    }

    &__button {
      width: fit-content;
      justify-self: end;
      box-shadow: none;
    }
  }

  &__more-info {
    .page-content-wrapper {
      display: grid;
      grid-template-columns: 1fr 490px;
      grid-column-gap: 60px;

      margin: 96px auto 69px auto;
    }

    &__images {
      display: grid;
      grid-template-rows: min-content min-content min-content;
      grid-row-gap: 30px;
    }

    &__image {
      border-radius: $primary-radius;
      box-shadow: $primary-shadow;
    }

    &__description__title {
      margin-top: 48px;
      color: $primary-300;
    }

    &__description__title:first-of-type {
      margin-top: 0;
    }

    &__description__text {
      margin-top: 0;
      margin-bottom: 24px;
    }

    &__description__text--wrapper {
      display: grid;
      grid-template-columns: 15px 1fr;
      grid-column-gap: 17px;
      align-items: start;
    }
  }
}
