@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif&display=swap");

body {
  max-width: 1200px;
  margin: 50px auto;
}

.navigation-inline-block-header nav,
.navigation-inline-block-header h1 {
  display: inline-block;
  vertical-align: middle;
}

.nav-menu a {
  color: #52ae6d;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.nav-menu li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

hr {
  background-color: black;
  height: 1px;
}

p {
  font-family: "PT Serif", serif;
}
