body {
  margin: 50px;
}

section.mq-width > span::before {
  content: "MQ Width";
}
section.mq-height > span::before {
  content: "MQ Height";
}
section.mg-ar > span::before {
  content: "MQ Aspeet Ratio";
}

section.mq-width > span::after,
section.mq-height > span::after,
section.mg-ar > span::after {
  color: green;
}

@media all and (min-width: 600px) {
  section.mq-width > span::after {
    content: "Viewport width is larger than 600px";
  }
}

@media all and (min-height: 600px) {
  section.mq-height > span::after {
    content: "Viewport height is larger than 600px";
  }
}

@media all and (min-aspect-ratio: 8/5) {
  section.mg-ar > span::after {
    content: "Aspect Ratio is larger than 8/5";
  }
}
