.basic-blog-layout--wrapper {
  display: grid;
  grid-template-columns: 1fr 450px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .header {
    grid-column: 1/3;
  }

  .footer {
    grid-column: 1/3;
  }
}
