.grid-named-areas--wrapper {
  display: grid;
  grid-template-columns: 1fr 450px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";

  .header {
    grid-area: header;
  }

  .main {
    grid-area: main;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .footer {
    grid-area: footer;
  }
}
