.grid-chess-board--wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  border: 1px solid black;
  padding: 15px;
  width: fit-content;

  .grid-chess-board__element {
    border-radius: 8px;
    border: 1px solid black;
  }

  .grid-chess-board__element:nth-child(odd) {
    background-color: black;
  }

  .grid-chess-board__element:nth-child(even) {
    background-color: white;
  }
}
