body {
  background-color: rgb(238, 238, 238);
  margin: 0;
}

.cards-layout {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1000px;
  flex-wrap: wrap;
  margin: 50px auto;
}

.col {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 30%;
}

h2 {
  width: 80%;
  margin: 30px auto;
  padding-left: 20px;
}

h3 {
  padding: 5px 12px;
}

article img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

article {
  border-radius: 12px;
  box-shadow: 0px 1px 15px 3px rgb(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.cards-layout article {
  margin: 10px;
  flex-basis: 30%;
}

article > p {
  padding: 5px 12px;
}

article > p:nth-of-type(1) {
  flex-grow: 1;
}

article > p:last-child {
  border-top: 1px solid lightgray;
}
