@keyframes circle-to-square {
  from {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
  }

  to {
    width: 150px;
    height: 150px;
    background-color: darkgoldenrod;
    border-radius: 0;
  }
}

@keyframes fancy-appearance {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    transform: translateX(30px);
    opacity: 1;
  }
}

@keyframes animating-gradients {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes border-change {
  from {
    outline: 5px solid darkblue;
  }
  to {
    outline: 25px solid purple;
  }
}

@keyframes rotate-rectangle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes rotate-image {
  from {
    transform: rotate(0deg);
  }
  to {
    width: 50%;
    height: 50%;
    border-radius: 12px;
    opacity: 0.5;
    transform: rotate(45deg);
  }
}
