body,
ul,
li {
  display: flex;
  justify-content: center;
}

body {
  background-color: #eee;
}

ul {
  flex-wrap: wrap;
  width: 60vw;
}

section.gallery > ul > li {
  list-style: none;
  border: 7px solid black;
  padding: 25px 15px;
  flex-basis: 25%;
  margin: 15px;
  height: 450px;
  align-items: center;
  background-color: #ffffff;
}

section.gallery > ul > li > img {
  width: 100%;
}
