.course-main {
  display: grid;
  @include for-phone-only {
    grid-template-rows: 302px 562px 970px 540px 760px 1300px;
  }

  @include for-tablet-portrait-up {
    grid-template-rows: 302px 562px 740px 500px 680px 1100px;
  }

  @include for-tablet-landscape-up {
    grid-template-rows: 302px 562px 575px 410px 680px 750px;
  }

  @include for-desktop-up {
    grid-template-rows: 302px 150px 340px 330px 490px 600px;
  }

  &__welcome-section {
    .page-content-wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  &__more-info-section {
    position: relative;
    top: -65px;
  }

  &__about {
    .page-content-wrapper {
      display: grid;

      @include for-phone-only {
        grid-template-rows: 740px 195px;
        grid-row-gap: 32px;
      }

      @include for-desktop-up {
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 110px;
        align-items: center;
      }
    }

    &__description {
      margin: 0;
    }

    &__video {
      border-radius: $primary-radius;

      @include for-tablet-portrait-up {
        margin-top: 20px;
        justify-self: center;
      }

      @include for-tablet-landscape-up {
        margin-top: 20px;
        justify-self: center;
      }
    }
  }

  &__about__more-info-stuctured__appropriate-and-important {
    .page-content-wrapper {
      @include for-phone-only {
        grid-template-rows: auto 10px 1fr;
        grid-row-gap: 32px;
      }
    }
  }

  &__training-program {
    background-color: $secondary-400;
    color: $gray-700;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      top: -6px;
      width: 100%;
      height: calc(100% + 12px);
      border-top: dotted 12px #ffffff;
      border-bottom: dotted 12px #ffffff;
    }

    @include for-phone-only {
      .page-content-wrapper {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-row-gap: 32px;
      }
    }

    @include for-desktop-up {
      .page-content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
      }
    }

    &__description__title--wrapper {
      display: flex;
      align-items: start;
      margin-bottom: 24px;
    }

    &__description__title {
      margin: 0 0 0 16px;
    }

    &__description__text {
      margin: 0;
    }

    &__dropdown--wrapper {
      display: grid;
      grid-template-rows: auto 52px 52px 94px 72px;
      grid-row-gap: 16px;

      @include for-desktop-up {
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
      }
    }

    &__dropdown__title {
      margin: 0;
    }

    &__dropdown {
      position: relative;
      display: flex;
      align-items: center;
      z-index: 1;

      &::after {
        content: "";
        background: url("../../assets/icons/mdi_keyboard_arrow_down.png") center
          no-repeat;
        width: 16px;
        height: 10px;
        display: inline-block;
        position: absolute;
        right: 20px;
      }
    }
  }

  &__about__more-info-stuctured__shedule-and-info {
    padding: 60px 0 96px 0;
    height: 100%;
    box-sizing: border-box;

    .more-info-structured__description:not(:last-of-type) {
      margin-bottom: 20px;
    }

    .page-content-wrapper {
      @include for-phone-only {
        grid-template-rows: auto 10px auto;
        grid-row-gap: 32px;
      }
    }
  }
}
