.course-main {
  display: grid;
  @include for-phone-only {
    grid-template-rows: 302px 562px auto;
  }

  &__welcome-section {
    background-color: $blue-400;
    color: #ffffff;
    display: flex;
    align-items: center;

    .page-content-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      text-align: center;
    }
  }

  &__more-info-section {
    position: relative;
    top: -65px;
  }

  &__about {
    &__description {
      margin: 0;
    }

    &__video {
      border-radius: $primary-radius;
      margin-top: 32px;
      margin-bottom: 64px;
    }
  }
}
