.course-main {
  display: grid;
  grid-template-rows: 302px;

  &__welcome-section {
    background-color: $blue-400;
    color: #ffffff;
    display: flex;
    align-items: center;

    .page-content-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      text-align: center;
    }
  }
}
