.contact-us-main {
  display: grid;

  @include for-desktop-up {
    grid-template-rows: 500px 0px 686px 572px;
  }

  &__location__map {
    width: 100%;
  }

  &__location-info {
    position: relative;
  }

  &__write-us {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .page-content-wrapper {
      width: 100%;
      max-width: 850px;
    }

    &__title {
      color: $primary-300;
      margin-top: 0;
      margin-bottom: 32px;
      text-align: center;
    }
  }

  &__transport-instructions {
    background-color: $secondary-50;
    display: flex;
    align-items: center;

    .page-content-wrapper {
      @include for-desktop-up {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    &__title {
      color: $primary-300;
      margin: 0 auto 48px auto;
    }

    &__description--wrapper {
      @include for-desktop-up {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 35px;
      }
    }

    &__description__title {
      color: $primary-300;
      margin: 0 0 18px 0;
    }

    &__description__text {
      color: $gray-700;
      margin: 0 0 16px 0;
    }
  }
}
