.filter--wrapper {
  background-color: $gray-50;

  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-phone-only {
      flex-direction: column;
    }

    &__title {
      color: $gray-700;
    }

    &__label {
      &::after {
        content: "";
        background: url("../../assets/icons/arrow.svg") center no-repeat;
        width: 12px;
        height: 8px;
        display: inline-block;
        position: relative;
        right: 30px;
      }

      @include for-phone-only {
        margin: 5px auto;
      }

      &--level {
        @include for-phone-only {
          left: 14px;
          position: relative;
        }

        &::after {
          content: "";
          background: url("../../assets/icons/arrow.svg") center no-repeat;
          width: 12px;
          height: 8px;
          display: inline-block;
          position: relative;
          right: 55px;
        }
      }

      &__img {
        position: relative;
        top: 5px;
        right: 15px;

        @include for-phone-only {
          width: 25px;
        }

        &--info {
          position: relative;
          top: 5px;

          &:hover {
            animation: fade-in 1s forwards;
          }
        }
      }
    }
  }
}
