.location-info-table {
  background-color: #ffffff;
  box-shadow: $shadow-1dp;
  border-radius: $primary-radius;
  padding: 32px;

  @include for-phone-only {
    height: 100%;
    width: 100%;

    position: static;
    bottom: 0;

    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-row-gap: 12px;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }

  @include for-tablet-portrait-up {
    height: 100%;
    width: 100%;

    position: static;
    bottom: 0;

    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-row-gap: 12px;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }

  @include for-tablet-landscape-up {
    height: 400px;
    width: 520px;
    position: absolute;
    bottom: 0px;

    display: grid;
    grid-template-rows: 1fr 1fr min-content;
    grid-row-gap: 12px;

    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
  }

  @include for-desktop-up {
    height: 400px;
    width: 520px;
    position: absolute;
    bottom: -84px;

    display: grid;
    grid-template-rows: 1fr 1fr min-content;
    grid-row-gap: 12px;

    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
  }

  &__address {
    @include for-phone-only {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    @include for-tablet-portrait-up {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    @include for-tablet-landscape-up {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    @include for-desktop-up {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &__contacts {
    @include for-phone-only {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    @include for-tablet-portrait-up {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    @include for-tablet-landscape-up {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    @include for-desktop-up {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }

  &__work-time {
    display: grid;
    grid-template-rows: min-content 1fr 1fr;

    grid-column-gap: 24px;

    @include for-phone-only {
      grid-column: 1/2;
      grid-row: 3/4;
      grid-template-columns: auto 1fr;
    }

    @include for-tablet-portrait-up {
      grid-column: 1/2;
      grid-row: 3/4;
      grid-template-columns: auto 1fr;
    }

    @include for-tablet-landscape-up {
      grid-column: 2/3;
      grid-row: 1/2;
      grid-template-columns: 1fr 1fr;
    }

    @include for-desktop-up {
      grid-column: 2/3;
      grid-row: 1/2;
      grid-template-columns: 1fr 1fr;
    }

    &__title {
      grid-column: 1/3;
    }
  }

  &__title {
    color: $primary-300;

    @include for-phone-only {
      margin: 0 0 18px 0;
    }

    @include for-tablet-portrait-up {
      margin: 0 0 18px 0;
    }

    @include for-tablet-landscape-up {
      margin: 0 auto 18px auto;
    }

    @include for-desktop-up {
      margin: 0 auto 18px auto;
    }
  }

  &__text {
    color: $gray-700;
    margin: 0 0 18px 0;

    &--secondary {
      color: $secondary-800;
      width: max-content;
    }
  }

  &__button {
    width: fit-content;
    justify-self: center;

    @include for-phone-only {
      grid-row: 4/5;
      grid-column: 1/2;
    }

    @include for-tablet-portrait-up {
      grid-row: 4/5;
      grid-column: 1/2;
    }

    @include for-tablet-landscape-up {
      grid-row: 3/4;
      grid-column: 1/3;
    }

    @include for-desktop-up {
      grid-row: 3/4;
      grid-column: 1/3;
    }
  }
}
