.more-info-structured {
  display: flex;
  align-items: center;

  .page-content-wrapper {
    display: grid;

    @include for-tablet-portrait-up {
      grid-template-rows: 1fr 12px 1fr;
      grid-row-gap: 35px;
      grid-template-columns: 1fr;

      .border--secondary-100--horizontal {
        display: block;
      }

      .border--secondary-100--vertical {
        display: none;
      }
    }

    @include for-tablet-landscape-up {
      grid-template-columns: 1fr 12px 1fr;
      grid-column-gap: 90px;
      grid-template-rows: 1fr;

      .border--secondary-100--horizontal {
        display: none;
      }

      .border--secondary-100--vertical {
        display: block;
      }
    }

    @include for-desktop-up {
      grid-template-columns: 1fr 12px 1fr;
      grid-column-gap: 90px;

      .border--secondary-100--horizontal {
        display: none;
      }

      .border--secondary-100--vertical {
        display: block;
      }
    }
  }

  &__title--wrapper {
    display: flex;
    align-items: start;
    margin-bottom: 16px;
  }

  &__title {
    color: $gray-700;
    margin: 0 0 0 18px;
  }

  &__description--wrapper {
    margin: 0;
  }

  &__description {
    margin: 0;
  }
}
