.header {
  box-shadow: $primary-shadow;

  .page-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__arrow-and-logo,
  &__login-and-nav {
    display: flex;
    align-items: center;
  }

  &__arrow {
    margin-right: 14px;
  }

  &__login {
    margin-right: 24px;
  }

  @include for-phone-only {
  }
}

.header__info {
  background-color: $secondary-color;
  color: #ffffff;
  padding: 60px 0;
  text-align: center;
  position: relative;
  z-index: -1;
}
