.welcome-section {
  color: #ffffff;
  position: relative;
  z-index: -1;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--secondary {
    background-color: $secondary-color;
  }

  &--blue-400 {
    background-color: $blue-400;
  }

  &__content {
    width: 100%;

    &--small {
      max-width: 650px;
    }

    &--medium {
      max-width: 850px;
    }

    &__title {
      margin-top: 0;
    }
  }
}
