.partnership-section {
  background-color: $blue-300;
  border-top: 12px solid $blue-200;
  color: #ffffff;
  display: grid;

  height: 100%;
  align-content: center;

  .page-content-wrapper {
    @include for-phone-only {
      display: grid;
      grid-template-rows: min-content min-content min-content;
      grid-row-gap: 45px;
      height: 100%;
      align-content: center;
    }
  }
  &__description__title {
    margin: 0 auto 24px auto;
    text-align: left;
  }

  &__description__text {
    margin: 0;
  }

  &__form {
    @include for-phone-only {
      display: grid;
      grid-row-gap: 36px;
    }
  }

  &__form__input {
    color: #ffffff;

    &::placeholder {
      color: #ffffff;
    }
  }
}
