.main-header {
  box-shadow: $primary-shadow;
  z-index: 1;

  .page-content-wrapper {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 75px;
    align-items: center;
  }

  &__arrow-and-logo-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__nav {
    justify-self: flex-end;
    margin-right: 35px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 24px;
    width: min-content;

    &-item {
      margin: 0 12px;
    }

    &-item-link {
      color: $gray-700;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        animation: change-color-grey-to-secondary 0.3s ease-out forwards;
      }
    }
  }

  &__search-and-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 32px;
    width: min-content;
  }

  &__search {
    &:hover {
      cursor: pointer;
    }
  }
}
