body {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  border-bottom: 2px solid;
}

header,
main {
  max-width: 1200px;
  margin: 0 auto;
}

.site-title {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

.first-three-img {
  float: right;
}

.second-three {
  float: left;
}

img {
  max-width: 200px;
  border: 2px solid black;
  padding: 15px;
  margin: 5px 15px;
}

.citate {
  border-left: 4px solid darkgray;
  font-style: italic;
  float: right;
  width: 30%;
  padding-left: 20px;
}
