@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.for-us-title {
  text-align: center;
  font-weight: 200;
  font-size: 40px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information,
.image-part-wrapper {
  flex-basis: 35%;
}

.information {
  margin-right: 40px;
}

.information-title {
  font-size: 26px;
  font-weight: 400;
}

.information-description {
  color: #666a71;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 200;
}

.good-prices,
.clients,
.big-chain {
  display: flex;
}

.good-prices > img,
.clients > img,
.big-chain > img {
  object-fit: contain;
}

.good-prices-title,
.clients-title,
.big-chain-title {
  color: #666a71;
  font-weight: 500;
  font-size: 18px;
  line-height: 0.2;
}

.good-prices-info > p:last-child,
.clients-info > p:last-child,
.big-chain-info > p:last-child {
  color: #7a7670;
}

.clients-info {
  margin-left: 7px;
}
