/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes change-color-grey-to-secondary {
  from {
    color: #565656;
  }
  to {
    color: #ff9100;
  }
}

@keyframes change-color-grey-to-secondary {
  from {
    color: #565656;
  }
  to {
    color: #ff9100;
  }
}

@-webkit-keyframes change-color-gray-200-to-primary {
  from {
    color: #e6e6e6;
  }
  to {
    color: #41bead;
  }
}

@keyframes change-color-gray-200-to-primary {
  from {
    color: #e6e6e6;
  }
  to {
    color: #41bead;
  }
}

@-webkit-keyframes bigger {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes bigger {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.border {
  background-size: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.border-vertical {
  background-repeat: repeat-y;
}

.border-vertical--primary {
  background-image: url("../../assets/icons/dot-vertical.png");
}

.border-horizontal {
  background-repeat: repeat-x;
}

.border-horizontal--primary {
  background-image: url("../../assets/icons/dot-horizontal.png");
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.standart-box {
  background-color: white;
  border-radius: 12px;
}

.row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.page-wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 75px 1fr 312px;
      grid-template-rows: 75px 1fr 312px;
}

@media (max-width: 599px) {
  .page-wrapper {
    -ms-grid-rows: 72px 1fr 312px;
        grid-template-rows: 72px 1fr 312px;
  }
}

.page-content-wrapper {
  width: 1290px;
  margin: 0 auto;
}

@media (max-width: 599px) {
  .page-content-wrapper {
    width: 335px;
  }
}

select {
  background-color: #f8f8f8;
  border: 1px solid #ff9100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 18px;
  -webkit-appearance: none;
  min-width: 200px;
  min-height: 45px;
}

select:hover {
  cursor: pointer;
}

select::-webkit-input-placeholder {
  color: #919191;
}

select:-ms-input-placeholder {
  color: #919191;
}

select::-ms-input-placeholder {
  color: #919191;
}

select::placeholder {
  color: #919191;
}

.horizontal-border {
  background-image: url("../../assets/images/horizontal-border.svg");
  padding: 5px 0;
  background-repeat: no-repeat;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

.label {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 4px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.label--gray {
  background-color: #676781;
}

.label--purple {
  background-color: #9a5dc6;
}

.label--orange-light {
  background-color: #ffc20a;
}

.label--orange {
  background-color: #ff9100;
}

.label--gray-dark {
  background-color: #35364d;
}

html {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1-like,
.h2-like,
.h3-like,
.h4-like,
.h5-like,
.h6-like {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.h1-like {
  font-size: 36px;
}

.h2-like {
  font-size: 30px;
}

.h3-like {
  font-size: 24px;
}

.h4-like {
  font-size: 20px;
}

.h5-like {
  font-size: 18px;
}

.h6-like {
  font-size: 16px;
}

h1 {
  line-height: 44px;
}

h2 {
  line-height: 36px;
}

h3 {
  line-height: 30px;
}

h4 {
  line-height: 24px;
}

h5 {
  line-height: 22px;
}

h6 {
  line-height: 20px;
}

.h1-like {
  line-height: 44px;
}

.h2-like {
  line-height: 36px;
}

.h3-like {
  line-height: 30px;
}

.h4-like {
  line-height: 24px;
}

.h5-like {
  line-height: 20px;
}

.h6-like {
  line-height: 18px;
}

h1 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

h5 {
  font-weight: 600;
}

h6,
.h6-like {
  font-weight: 400;
}

p {
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
}

a,
button {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
}

a {
  font-weight: 600;
}

button {
  font-weight: 800;
}

.link--secondary {
  color: #ff9100;
}

.link--size-16 {
  font-size: 16px;
}

.link--weight-400 {
  font-weight: 400;
}

.btn {
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 10px 22px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.btn:hover {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
}

.btn--secondary {
  background-color: #ff9100;
  color: #ffffff;
}

.btn--outlined {
  background-color: transparent;
  border: 1px solid #ff9100;
  color: #ff9100;
}

.btn--outlined--white {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.cards--wrapper {
  margin: 50px 0 100px 0;
}

.cards--wrapper .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .cards--wrapper .cards {
    display: block;
  }
}

.cards--wrapper .card {
  border-radius: 12px;
  max-width: 400px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 599px) {
  .cards--wrapper .card {
    margin: 20px auto;
  }
}

.cards--wrapper .card:hover {
  cursor: pointer;
}

.cards--wrapper .card:hover .card__content,
.cards--wrapper .card:hover .card__footer {
  background-color: #f8f8f8;
  border-radius: 12px;
}

.cards--wrapper .card__header {
  min-height: 160px;
  color: #ffffff;
  border-radius: 12px 12px 0 0;
}

.cards--wrapper .card__header--blue {
  background-color: #44a9f8;
}

.cards--wrapper .card__header--green {
  background-color: #41bead;
}

.cards--wrapper .card__label {
  position: relative;
  top: 10px;
  left: 10px;
}

.cards--wrapper .card__title {
  text-align: center;
}

.cards--wrapper .card__content {
  text-align: center;
  padding: 15px 0;
}

.cards--wrapper .card__info {
  display: inline-block;
  width: 40%;
  margin: 5px 0;
}

.cards--wrapper .card__footer {
  padding: 20px;
  text-align: center;
}

.cards--wrapper .card__footer:before {
  content: "";
  background-color: #f1f1f1;
  height: 1px;
  width: 360px;
  display: inline-block;
  position: relative;
  top: -20px;
}

.cards--wrapper .card__price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fc4c50;
  margin-right: 20px;
}

.filter--wrapper {
  background-color: #f8f8f8;
}

.filter--wrapper .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .filter--wrapper .filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.filter--wrapper .filter__title {
  color: #565656;
}

.filter--wrapper .filter__label::after {
  content: "";
  background: url("../../assets/icons/arrow.svg") center no-repeat;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: relative;
  right: 30px;
}

@media (max-width: 599px) {
  .filter--wrapper .filter__label {
    margin: 5px auto;
  }
}

@media (max-width: 599px) {
  .filter--wrapper .filter__label--level {
    left: 14px;
    position: relative;
  }
}

.filter--wrapper .filter__label--level::after {
  content: "";
  background: url("../../assets/icons/arrow.svg") center no-repeat;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: relative;
  right: 55px;
}

.filter--wrapper .filter__label__img {
  position: relative;
  top: 5px;
  right: 15px;
}

@media (max-width: 599px) {
  .filter--wrapper .filter__label__img {
    width: 25px;
  }
}

.filter--wrapper .filter__label__img--info {
  position: relative;
  top: 5px;
}

.filter--wrapper .filter__label__img--info:hover {
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
}

.footer__wrapper {
  border-top: 12px solid #919191;
  background-color: #565656;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 599px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 500px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__wrapper .footer__image__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

@media (max-width: 599px) {
  .footer__wrapper .footer__image__wrapper {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__wrapper .footer__image__wrapper .footer__image {
  position: absolute;
  bottom: 0;
}

.footer__wrapper .footer__navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  margin: 50px 0;
  height: 100%;
}

@media (max-width: 599px) {
  .footer__wrapper .footer__navigation__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 10px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__wrapper .footer__list__wrapper {
  list-style: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__wrapper .footer__list__wrapper:first-of-type {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

@media (max-width: 599px) {
  .footer__wrapper .footer__list__wrapper:first-of-type {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 599px) {
  .footer__wrapper .footer__list__wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    width: 60%;
  }
}

.footer__wrapper .footer__list__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.footer__wrapper .footer__list {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 599px) {
  .footer__wrapper .footer__list {
    height: 100%;
  }
}

.footer__wrapper .footer__list__item {
  margin-bottom: 12px;
  margin-right: 30px;
}

.footer__wrapper .footer__list__item a {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer__wrapper .footer__list__item a:hover {
  cursor: pointer;
  -webkit-animation: change-color-gray-200-to-primary 0.3s ease-out forwards;
          animation: change-color-gray-200-to-primary 0.3s ease-out forwards;
}

.footer__wrapper .footer__list--found-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__wrapper .footer__list--found-us a {
  color: #ffffff;
  font-size: 30px;
  margin-right: 30px;
}

.footer__wrapper .footer__list--found-us a:hover {
  cursor: pointer;
  -webkit-animation: change-color-gray-200-to-primary 0.3s ease-out forwards;
          animation: change-color-gray-200-to-primary 0.3s ease-out forwards;
}

.footer__wrapper .footer__copyright {
  color: #919191;
  width: 60%;
}

.header {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header .page-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__arrow-and-logo, .header__login-and-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__arrow {
  margin-right: 14px;
}

.header__login {
  margin-right: 24px;
}

.header__info {
  background-color: #ff9100;
  color: #ffffff;
  padding: 60px 0;
  text-align: center;
  position: relative;
  z-index: -1;
}

.navbar {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.navbar .navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

@media (max-width: 599px) {
  .navbar .navbar__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.navbar .navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 599px) {
  .navbar .navbar__items--desktop-only {
    display: none;
  }
}

.navbar .navbar__item {
  list-style: none;
  margin: 10px 25px;
}

.navbar .navbar__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #565656;
}

.navbar .navbar__item a:hover {
  cursor: pointer;
  color: #ff9100;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.navbar .navbar__menu-icon__wrapper {
  display: none;
}

@media (max-width: 599px) {
  .navbar .navbar__menu-icon__wrapper {
    display: block;
  }
}

.program--wrapper {
  margin: 100px auto;
}

.program--wrapper .program__info {
  margin: 0px auto 50px auto;
}

.program--wrapper .program__info__title {
  color: #41bead;
  margin: 20px 0px;
}

.program--wrapper .program__info__description {
  color: #565656;
}

.program--wrapper .program__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .program--wrapper .program__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.program--wrapper .program__card {
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px 15px 30px;
}

@media (max-width: 599px) {
  .program--wrapper .program__card:first-of-type {
    margin-bottom: 20px;
  }
}

.program--wrapper .program__card--blue {
  color: #44a9f8;
  border: 4px solid #44a9f8;
  background-color: #e3f3fd;
}

.program--wrapper .program__card--green {
  color: #41bead;
  border: 4px solid #00af9b;
  background-color: #dff4f1;
}

.program--wrapper .program__card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program--wrapper .program__card__title {
  margin: 24px 0 24px 15px;
}

.program--wrapper .program__card__title--blue {
  color: #44a9f8;
}

.program--wrapper .program__card__title--green {
  color: #00af9b;
}

.program--wrapper .program__card__description {
  color: #565656;
  margin-top: 0;
}

.home-main__program {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 110px auto 110px auto 110px auto;
      grid-template-rows: auto auto 110px auto 110px auto 110px auto;
  grid-row-gap: 15px;
  justify-items: center;
}

.home-main__program-title--wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
  grid-column-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.home-main__program-title--blue {
  color: #44a9f8;
}

.home-main__program-title--green {
  color: #00af9b;
}

.home-main__program-title-icon {
  margin: 0 auto;
}

.home-main__program-vertical-border {
  margin-bottom: 8px;
  padding: 8px;
}

.home-main__program-horizontal-border {
  margin-bottom: 8px;
  padding: 8px;
}

.home-main__program__box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.home-main__program__box--big {
  max-width: 615px;
  -ms-grid-rows: 45px 1fr;
      grid-template-rows: 45px 1fr;
  grid-row-gap: 30px;
}

.home-main__program__box--normal {
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  max-width: 410px;
  grid-row-gap: 15px;
}

.home-main__program__box--normal .home-main__program__box-title {
  margin: 0 auto;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.home-main__program__box--small {
  max-width: 135px;
}

.home-main__program__box--small .home-main__program__box-title {
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home-main__program__box--blue {
  background-color: #44a9f8;
}

.home-main__program__box--blue-100 {
  background-color: #bce0fc;
}

.home-main__program__box--blue-300 {
  background-color: #66b9f8;
}

.home-main__program__box-title {
  color: #ffffff;
}

.home-main__program__box--primary-100 {
  background-color: #b0e3dc;
}

.home-main__program__box--primary-200 {
  background-color: #7cd1c5;
}

.home-main__program__box--primary-300 {
  background-color: #41bead;
}

.home-main__program__boxes--wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 135px 135px 135px;
      grid-template-columns: 135px 135px 135px 135px;
  grid-column-gap: 15px;
  -ms-grid-rows: 85px;
      grid-template-rows: 85px;
}

.home-main__program-description {
  margin-top: 100px;
  margin-bottom: 60px;
}

.popup {
  position: relative;
}

.popup__trigger:hover {
  cursor: pointer;
}

.popup__trigger:hover + .popup__bubble {
  opacity: 1;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.4s;
  transition: opacity 0.5s ease-out, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.5s ease-out;
  transition: transform 0.4s, opacity 0.5s ease-out, -webkit-transform 0.4s;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.popup__bubble {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 450px;
  position: absolute;
  bottom: 40px;
  padding: 15px;
  z-index: 1;
  background-color: #fff;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  opacity: 0;
}

.popup__bubble:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  position: relative;
  top: 30px;
}

.popup__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #919191;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}

.popup__description:last-of-type {
  border-bottom: none;
}

.popup__label {
  margin-right: 20px;
}

.popup__info {
  margin: 0 auto;
}

.title {
  margin: 0;
  color: white;
}

.title--primary {
  color: #41bead;
}

.title--secondary {
  color: #ff9100;
}

.title--center {
  text-align: center;
}

.title--inherit {
  color: inherit;
}

.main-header {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main-header .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr 150px;
      grid-template-columns: 150px 1fr 150px;
  -ms-grid-rows: 75px;
      grid-template-rows: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__arrow-and-logo-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__arrow-and-logo-wrapper:hover {
  cursor: pointer;
}

.main-header__nav {
  justify-self: flex-end;
  margin-right: 35px;
}

.main-header__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.main-header__list-item {
  margin: 0 12px;
}

.main-header__list-item-link {
  color: #565656;
  text-decoration: none;
  text-transform: uppercase;
}

.main-header__list-item-link:hover {
  cursor: pointer;
  -webkit-animation: change-color-grey-to-secondary 0.3s ease-out forwards;
          animation: change-color-grey-to-secondary 0.3s ease-out forwards;
}

.main-header__search-and-login {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 32px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.main-header__search:hover {
  cursor: pointer;
}

.home-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 490px 565px 1210px 485px 170px 505px 330px 516px 500px 740px 1600px;
      grid-template-rows: 490px 565px 1210px 485px 170px 505px 330px 516px 500px 740px 1600px;
}

.home-main__welcome-section {
  background-image: url("../../assets/images/main-kids.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.home-main__welcome-section::before {
  content: "";
  display: block;
  background-color: #41bead;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: absolute;
}

.home-main__welcome-title, .home-main__welcome-text {
  position: static;
  z-index: 1;
}

.home-main__welcome-title {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.home-main__welcome-text {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.home-main__about {
  background-color: #ff9100;
  border-top: 10px solid #ffb402;
  color: #ffffff;
}

.home-main__about .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 110px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
}

.home-main__about-video {
  border-radius: 12px;
  border: 4px solid #41bead;
  width: 100%;
  height: 100%;
}

.home-main__programs .page-content-wrapper {
  margin: 95px auto;
}

.home-main__programs-info {
  width: 830px;
  margin: 0 auto 65px auto;
}

.home-main__programs-info-title {
  color: #41bead;
  margin: 0 auto 32px auto;
}

.home-main__programs-preview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 13px 1fr;
      grid-template-columns: 1fr 13px 1fr;
  grid-column-gap: 25px;
}

.home-main__graphic-design .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 540px;
      grid-template-columns: 1fr 540px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-main__graphic-design__description-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
  grid-column-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9a5dc6;
}

.home-main__trainings {
  color: #ffffff;
  background-color: #41bead;
}

.home-main__trainings .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 635px 1fr;
      grid-template-columns: 635px 1fr;
  grid-column-gap: 125px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.home-main__trainings__description-title {
  margin: 0 auto 15px auto;
}

.home-main__trainings__description-text {
  margin: 0;
}

.home-main__trainings__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.home-main__awards {
  margin: 110px auto;
}

.home-main__awards .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-row-gap: 50px;
  height: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.home-main__awards__title {
  margin: 0 auto;
}

.home-main__awards__title, .home-main__awards__award-title {
  color: #41bead;
}

.home-main__awards--wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
}

.home-main__awards__award__border {
  height: 3px;
  width: 96px;
  background-color: #41bead;
  margin: 24px auto;
}

.home-main__gallery .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  grid-row-gap: 35px;
}

.home-main__gallery__title {
  color: #41bead;
  margin: 0 auto;
}

.home-main__gallery__preview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.home-main__gallery-image {
  border-radius: 12px;
}

.home-main__gallery__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-grid-column-align: end;
      justify-self: end;
}

.home-main__blog {
  background-color: #66b9f8;
  border-top: 12px solid #92cdfb;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-main__blog .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  grid-row-gap: 48px;
}

.home-main__blog__title {
  color: #ffffff;
  margin: 0 auto;
}

.home-main__blog__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px 300px;
      grid-template-columns: 300px 300px 300px 300px;
  grid-column-gap: 32px;
}

.home-main__blog__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home-main__more-info .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 490px;
      grid-template-columns: 1fr 490px;
  grid-column-gap: 60px;
  margin: 96px auto 69px auto;
}

.home-main__more-info__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content min-content;
  grid-row-gap: 30px;
}

.home-main__more-info__image {
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.home-main__more-info__description__title {
  margin-top: 48px;
  color: #41bead;
}

.home-main__more-info__description__title:first-of-type {
  margin-top: 0;
}

.home-main__more-info__description__text {
  margin-top: 0;
  margin-bottom: 24px;
}

.home-main__more-info__description__text--wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15px 1fr;
      grid-template-columns: 15px 1fr;
  grid-column-gap: 17px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.home-main__accomplishment {
  position: relative;
}

.home-main__accomplishment .page-content-wrapper {
  width: 1290px;
  padding-top: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px 10px 1fr;
      grid-template-columns: 320px 10px 1fr;
  grid-column-gap: 0px;
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: -80px;
}

.home-main__accomplishment-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 220px 1fr;
      grid-template-columns: 240px 220px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 25px;
  height: 150px;
  padding: 0 50px;
  color: #565656;
}

.home-main__accomplishment-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr 2px;
      grid-template-columns: 50px 1fr 2px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.home-main__accomplishment-detail:not(:last-child)::after {
  content: "";
  width: 0px;
  height: 24px;
  border: 2px solid #f1f1f1;
  display: block;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.home-main__accomplishment-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.home-main__accomplishment-result-number {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.home-main__accomplishment-result-name {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.home-main__accomplishment-dots {
  position: relative;
  top: 3px;
}

.home-main__accomplishment-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin-bottom: 7px;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.14), inset 0px 3px 4px rgba(0, 0, 0, 0.12), inset 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.14), inset 0px 3px 4px rgba(0, 0, 0, 0.12), inset 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.home-main__accomplishment-dot:nth-child(1), .home-main__accomplishment-dot:nth-child(2), .home-main__accomplishment-dot:nth-child(3), .home-main__accomplishment-dot:nth-child(4) {
  background-color: #41bead;
}

.home-main__accomplishment-dot:nth-child(5) {
  background-color: #ffb402;
}

.home-main__accomplishment-dot:nth-child(6), .home-main__accomplishment-dot:nth-child(7), .home-main__accomplishment-dot:nth-child(8), .home-main__accomplishment-dot:nth-child(9) {
  background-color: #ff9100;
}

.home-main__accomplishment-dot:first-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home-main__accomplishment-dot:last-child {
  -webkit-box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.14), inset 0px 3px 4px rgba(0, 0, 0, 0.12), inset 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.14), inset 0px 3px 4px rgba(0, 0, 0, 0.12), inset 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.home-main__skills .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 65px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.home-main__skills__description {
  width: 100%;
  max-width: 740px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.home-main__skills__description-title {
  color: #41bead;
  margin: 0 auto 32px auto;
}

.home-main__skills__description-text {
  color: #565656;
  margin: 0;
}

.home-main__skills__preview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 70px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-grid-row-align: start;
      align-self: start;
  justify-items: center;
}

.home-main__skills__preview-item-title {
  color: #919191;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.home-main__testimonials {
  background-color: #41bead;
  color: #ffffff;
}

.home-main__testimonials .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 215px 1fr;
      grid-template-columns: 215px 1fr;
  grid-column-gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.home-main__testimonials__image--wrapper {
  -ms-grid-column-align: end;
      justify-self: end;
}

.home-main__testimonials__image {
  border-radius: 50%;
}

.home-main__testimonials__image-decoration-purple {
  position: absolute;
  left: 0px;
  top: 43px;
  -webkit-transform: rotate(21.2deg);
  transform: rotate(5deg);
}

.home-main__testimonials__image-decoration-yellow {
  position: absolute;
  left: -50px;
  top: 220px;
}

.home-main__testimonials__image-decoration-red {
  position: absolute;
  left: 950px;
  top: 40px;
  -webkit-transform: rotate(120deg);
  transform: rotate(0deg);
}

.home-main__testimonials__image-decoration-yellow--after-text {
  position: absolute;
  left: 1135px;
  top: 275px;
  -webkit-transform: rotate(26.02deg);
  transform: rotate(50deg);
}

.home-main__testimonials__description-name {
  margin: 0 auto 6px auto;
}

.home-main__testimonials__description-info {
  margin: 0;
}

.home-main__testimonials__description-text {
  margin: 0;
}

.home-main__testimonials__description-rating {
  margin: 8px auto 18px auto;
}

.home-main__testimonials__btn-slider {
  position: absolute;
  padding: 12px 15px 10px 15px;
}

.home-main__testimonials__btn-slider-left {
  left: -100px;
  display: none;
}

.home-main__testimonials__btn-slider-left-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home-main__testimonials__btn-slider-right {
  right: -100px;
}

.home-main__blog__card {
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 155px auto auto;
      grid-template-rows: 155px auto auto;
  grid-row-gap: 16px;
}

.home-main__blog__card__image {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.home-main__blog__card__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 45px 12px 48px;
      grid-template-rows: 45px 12px 48px;
  grid-row-gap: 13px;
  padding: 0 16px;
}

.home-main__blog__card__description__title {
  color: #ff9100;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-main__blog__card__description__date-and-time {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
}

.home-main__blog__card__description__date, .home-main__blog__card__description__time {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12px 1fr;
      grid-template-columns: 12px 1fr;
  grid-column-gap: 8px;
}

.home-main__blog__card__description__date-text, .home-main__blog__card__description__time-text {
  color: #919191;
  font-size: 12px;
  margin: 0;
}

.home-main__blog__card__button, .home-main__blog__card__description__text {
  font-size: 14px;
  margin: 0;
  line-height: 16px;
}

.home-main__blog__card__button {
  color: #ff9100;
  text-decoration: none;
  text-transform: uppercase;
}

.home-main__blog__card__button-icon {
  margin-left: 10px;
}

.main-footer {
  background-color: #565656;
  border-top: 12px solid #919191;
  color: #ffffff;
}

.main-footer .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 1fr;
      grid-template-columns: 220px 1fr;
  grid-column-gap: 80px;
  height: 100%;
}

.main-footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 170px;
      grid-template-columns: 2fr 1fr 1fr 170px;
  grid-column-gap: 65px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-footer__nav__list--wrapper:first-of-type {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.main-footer__nav__list--wrapper:first-of-type .main-footer__nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.main-footer__nav__list--wrapper:first-of-type .main-footer__nav__list__item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.main-footer__nav__list--wrapper:first-of-type .main-footer__nav__list__item:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.main-footer__nav__list--wrapper:first-of-type .main-footer__nav__list__item:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.main-footer__nav__list--wrapper:first-of-type .main-footer__nav__list__item:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.main-footer__nav__list--wrapper:first-of-type .main-footer__nav__list__item:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.main-footer__nav__list--wrapper:first-of-type .main-footer__nav__list__item:nth-child(6) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.main-footer__nav__list--wrapper:first-of-type .main-footer__nav__list__item:nth-child(7) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.main-footer__nav__list__title {
  margin: 0 0 16px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main-footer__nav__list__item {
  margin-bottom: 12px;
}

.main-footer__nav__list__item-link, .main-footer__nav__list__item-icon {
  color: #e6e6e6;
  text-decoration: none;
  font-weight: 400;
}

.main-footer__nav__list__item-link:hover, .main-footer__nav__list__item-icon:hover {
  cursor: pointer;
  -webkit-animation: change-color-gray-200-to-primary 0.3s ease-out forwards;
          animation: change-color-gray-200-to-primary 0.3s ease-out forwards;
}

.main-footer__nav__list__item-link:hover, .main-footer__nav__list__item-icon:hover {
  color: #41bead;
  cursor: pointer;
}

.main-footer__nav__list__item-link {
  font-size: 16px;
  line-height: 19.2px;
}

.main-footer__nav__list__item-icon {
  font-size: 28px;
  margin-right: 30px;
}

.main-footer__copyright {
  color: #919191;
  text-decoration: none;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
}

.main-footer__image--wrapper {
  position: relative;
}

.main-footer__image {
  position: absolute;
  bottom: 0;
}

.course-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 302px 560px 550px;
      grid-template-rows: 302px 560px 550px;
}

.course-main__welcome-section {
  background-color: #44a9f8;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-main__welcome-section .page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
}

.course-main__more-info {
  position: relative;
  top: -65px;
}

@media (max-width: 599px) {
  .course-main__more-info .page-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 145px 12px 405px;
        grid-template-rows: 145px 12px 405px;
    background-color: #ffffff;
    border-radius: 12px;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.course-main__more-info__button {
  margin: 0 24px;
}

.course-main__more-info__dots--wrapper {
  position: relative;
  height: 100%;
}

.course-main__more-info__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  position: absolute;
  left: -8px;
}

.course-main__more-info__dot:first-of-type {
  -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 2px 2px rgba(0, 0, 0, 0.12), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 2px 2px rgba(0, 0, 0, 0.12), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -webkit-transform: matrix(0, -1, -1, 0, 0, 0);
          transform: matrix(0, -1, -1, 0, 0, 0);
}

.course-main__more-info__dot:last-of-type {
  -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 2px 2px rgba(0, 0, 0, 0.12), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 2px 2px rgba(0, 0, 0, 0.12), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
          transform: matrix(0, -1, 1, 0, 0, 0);
}

.course-main__more-info__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin-right: 8px;
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.14), inset 0px 2px 2px rgba(0, 0, 0, 0.12), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.14), inset 0px 2px 2px rgba(0, 0, 0, 0.12), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 599px) {
  .course-main__more-info--wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    grid-row-gap: 10px;
    padding: 24px;
  }
}

.course-main__more-info__item--wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 6px;
}

.course-main__more-info__item--wrapper:not(:last-child)::after {
  content: "";
  width: 0px;
  height: 24px;
  border: 2px solid #f1f1f1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 3/4;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}

.course-main__more-info__item__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.course-main__more-info__item__title, .course-main__more-info__item__text {
  margin: 0;
}

.course-main__more-info__item__title {
  color: #565656;
}

.course-main__more-info__item__text {
  color: #ff9100;
}

.centered {
  text-align: center;
}

.centered__container {
  width: 44%;
  margin: 0 auto;
}

.fade-in {
  -webkit-animation: fade-in 1.5s forwards ease-out;
          animation: fade-in 1.5s forwards ease-out;
}

.bigger:hover {
  cursor: pointer;
  -webkit-animation: bigger 0.5s forwards ease-out;
          animation: bigger 0.5s forwards ease-out;
}

.inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
/*# sourceMappingURL=styles.css.map */