.navbar {
  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 8px;
    opacity: 0;
    animation: fancy-appearance 1.9s ease-out forwards;

    @for $i from 0 to 8 {
      &:nth-child(#{$i}) {
        animation-delay: #{0.2 * $i}s;
      }
    }

    &:hover {
      animation: fancy-appearance infinite 1.9s ease-out;
    }

    &__link {
      color: black;
      font-size: 20px;
      text-decoration: none;
    }
  }
}
