$primary-50: #dff4f1;
$primary-300: #41bead;
$primary-400: #00af9b;

$secondary-color: #ff9100;
$secondary-800: #ff9100;

$grey-50: #f8f8f8;
$grey-100: #f1f1f1;
$grey-200: #e6e6e6;
$grey-500: #919191;
$grey-700: #565656;
$grey-800: #676781;

$blue-50: #e3f3fd;
$blue-400: #44a9f8;

$violet-500: #9a5dc6;

$red-500: #fc4c50;
