body {
  max-width: 1800px;
  margin: 25px auto;
}

header {
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}
.site-title {
  text-transform: uppercase;
}

nav ul li {
  color: #52ae6d;
  list-style: none;
  padding: 0 15px;
}

nav ul {
  display: flex;
}
